@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #12c97a !important;
  --toastify-color-error: #f71638 !important;
  --toastify-color-warning: #f7d216 !important;
  --toastify-color-info: #169df7 !important;
  --toastify-color-dark: #141515 !important;
}

::selection {
  @apply bg-primary-700 text-text-100;
}

body {
  @apply min-h-[100dvh] overscroll-none bg-background-950 bg-left-top bg-repeat text-text-100 sm:bg-body-pattern;
}

.Toastify__toast {
  @apply !rounded-lg border border-b-0 border-background-700 !shadow-lg;
}
